<a href="https://colab.research.google.com/github/YeonWon123/2020_Core_Study/blob/main/Core_%ED%8A%9C%ED%84%B0%EB%A7%81_3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 입력받는 여러가지 방법들

1. 하나의 정수 값을 입력받는 경우

In [ ]:
a = int(input())

3

In [ ]:
print(a)

3

2. 한 줄에 2개의 정수값을 입력받는 경우

In [ ]:
# 먼저 input() 받은 줄을 빈칸을 기준으로 분리(split)한 뒤에,
# 각각의 요소들을 map 함수를 통해 int로 바꾸어 준다.
# map(자료형, 반복가능한 객체(리스트 or 변수 or ....))
a, b = map(int, input().split(' '))

1 3

In [ ]:
print(a)
print(b)

1
3

3. 한 줄에 여러 개의 정수값을 입력받는 경우

In [ ]:
# 한 줄에 공백으로 나누어진 x개의 정수를 리스트로 만들어준다.
# 입력이 '1 2 3 4 5'라면 [1, 2, 3, 4, 5]가 nums에 들어간다.
l = [ int(x) for x in input().split() ]

1 2 3 4 5 6

In [ ]:
print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
print(l[0])
print(l[3])
print(l[5])
#print(l[6]) # 오류!

1
4
6

# 조건문 (if ~ elif ~ else)

In [ ]:
if 조건:
  ...
else:
  ...

if 조건:
  ...
elif 다른조건:
  ...
else:
  ...

# 반복문 (for / while)

In [ ]:
for i in range(초기값, 끝나는 값, 증가하는 값):
  ... # 여기에서 i는 초기값, 초기값 + 증가하는 값, ...을 의미

In [ ]:
lists = [3,4,5,6]
for i in lists:
  ... # 여기에서 i는 lists[0], lists[1], ... 을 의미

In [ ]:
while 조건: # 조건이 True일 경우 무한 반복함
  ...
  if 다른조건:
    break # 여기에 걸리면 while문을 빠져나옴
  ...


백준 2438 - 별 찍기 1

In [ ]:
# for문을 2번 쓰는 코드
a = int(input())

for i in range(0, a, 1):
  for j in range(0, i+1, 1):
    print("*", end = '')
  print()

5
*
**
***
****
*****

In [ ]:
# for문을 1번 쓰는 코드
a = int(input())

for i in range(1, a+1, 1):
  print("*"*i)

5
*
**
***
****
*****

백준 2439 - 별 찍기 2

In [ ]:
# for문을 1번 쓰는 코드
a = int(input())

for i in range(1, a+1, 1):
  print(" "*(5-i), end = '')
  print("*"*i)

5
    *
   **
  ***
 ****
*****

백준 1259 - 팰린드롬 수

In [ ]:
while True:
  # 입력받는 정수
  a = int(input())

  # 리스트를 하나 만듭니다.
  lists = []

  # a가 0이면 while문을 종료합니다. (break)
  if a == 0:
    break
  else:
    # 팰린드롬수인지 아닌지 판단
    # 저의 풀이는 나머지 연산을 이용하는 것입니다.
    counts = 0
    while a != 0:
      b = a % 10      # 맨 끝자리 수가 나오게 됩니다.
      lists.append(b) # 리스트 안에 방금 구한 끝자리 수를 넣습니다.
      a = int(a / 10)      # a를 10으로 나눠서 다음 자리 수를 구할 겁니다.
      counts = counts + 1  # counts를 쓴 이유는 a의 자리수를 구하기 위함입니다. (len())
    
    # print(lists)

    # 맨 앞자리 수 == 맨 뒷자리 수
    # 앞에서 두 번째 자리 수 == 뒤에서 두 번째 자리 수
    # ...
    # 반복 횟수는? 전체 길이 / 2 만큼만 하면 됩니다!
    sw = 0
    for i in range(0, int(counts/2), 1):
      if lists[i] != lists[counts-1-i]:
        sw = 1
        print("no")
        break

    if sw == 0:  
      print("yes")

121
yes
1231
no
12421
yes
0

In [ ]:
# 다른 풀이
a = input()
sizes = len(a)

for i in range(0, int(sizes/2), 1):
  ...
  ...

# len 함수
len(obj) : obj는 list, str, ... (int는 불가)

In [ ]:
lists = [3,4,5]
print(len(lists))

3

In [ ]:
b = "가나다"
print(len(b))

3

In [ ]:
c = 12345
d = str(c)
print(type(c))
print(type(d))
print(len(d))

<class 'int'>
<class 'str'>
5

백준 10988 팰린드롬인지 확인하기

In [ ]:
a = input() # input() 는 str 타입을 반환합니다.

# if a[0] == a[4] and a[1] == a[3] and a[2] == a[2]:
# i는 0부터 len(a) / 2 - 1까지 for문 안에서 반복됨
# i = 0, 1, 2, ..., len(a) / 2 - 1

# 입력값이 level일 경우 
# len(a) = 5            (길이는 5)
# len(a) / 2 = 2.5      (5를 2로 나누면 2.5)
# int(len(a) / 2) = 2   (2.5를 int형으로 만들면 2)

# 전체 길이
sizes = int(len(a)/2) # sizes는 2 

sw = 0
for i in range(0, sizes, 1):
  # (맨 앞 자리 + i자리) 수 != (맨 뒷자리 - i자리) 수
  if a[i] != a[len(a)-1-i]: # i = 0 일때, a[0] == a[4], i = 1일때, a[1] == a[3]
    # 다르면 팰린드롬이 아니다.
    print(0)
    sw = 1
    break

if sw == 0:
  print(1)

baekjoon
0

In [ ]:
# level
l : a[0]
e : a[1]
v : a[2]
e : a[3]
l : a[4]

In [ ]:
# beakjoon

# 함수 알아보기

정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.

작성해야 하는 함수는 다음과 같다.

Python 2, Python 3, PyPy, PyPy3: def solve(a: list) -> int
a: 합을 구해야 하는 정수 n개가 저장되어 있는 리스트 (0 ≤ a[i] ≤ 1,000,000, 1 ≤ n ≤ 3,000,000)
리턴값: a에 포함되어 있는 정수 n개의 합 (정수)

In [ ]:
# 함수 사용해보기
def solvess(a):
  sum = 0;
  for i in a:
    sum += i
  return sum

In [ ]:
# 함수를 정의(생성)했다.
# 함수를 맨 처음에 생성(선언/정의)할 때는 def를 쓴다. (def = definition)
def solve(lists): # lists : 매개 변수
  # lists 안에 있는 수들의 합
  sum = 0;
  for i in lists:
    sum += i
  
  return sum # 함수를 통해서 구한 값을 밖에 보내는 것 (리턴한다)

In [ ]:
# 함수를 사용해 보자 (호출해 보자)
lists = [ [1,2,3,4,5,6], [2,3,4,5], ... , [3,4,5,6,7] ]

for i in lists:
  print(solve(i)) # 우리가 만든 solve 함수를 사용한 것, 함수를 사용할 때는 안에 인자를 넣을 수도 있다.

21
14

In [ ]:
# 함수를 안 쓰면....
lists = [1,2,3,4,5,6]
lists2 = [2,3,4,5]
..
lists100 = [3,6,7,8,5,6,7,8]

sum = 0
for i in lists:
  sum += i
print(sum)

sum = 0
for i in lists2:
  sum += i
print(sum)

21
14

백준 2577 숫자의 개수

In [ ]:
A = int(input())
B = int(input())
C = int(input())

D = A * B * C

lists = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
# 맨 처음 자리는 lists[0] -> D에서 0이 나온 횟수
# 맨 마지막 자리는 lists[9] -> D에서 9가 나온 횟수

# 정수 D를 문자열 D_str로 바꿔서 저장
D_str = str(D)

#print(D_str)
for i in range(0, len(D_str), 1):
  e = int(D_str[i])
  #print(e)
  lists[e] = lists[e] + 1

#print(lists)

for i in lists:
  print(i)

150
266
427
17037300
1
7
0
3
7
3
0
0
[3, 1, 0, 2, 0, 0, 0, 2, 0, 0]
3
1
0
2
0
0
0
2
0
0