오늘의 목표
- 백준 15953번 상금 헌터 (카카오 코드 페스티벌 2018 1번 문제) 문제 풀기

오늘 배울 사항
- 파이썬으로 입출력하는 기본적인 방법에 대해 알 수 있다. (input함수 파헤치기)
- 파이썬으로 조건문(if ~ else / if ~ elif ~ else)을 작성할 수 있다.
- 파이썬으로 반복문(for / while)을 작성하고 
  어느 상황에 for문을 쓰는지, 어느 상황에 while문을 쓰는 것이 좋은지 말할 수 있다. 
  (면접 "기본" 문제 - "기본기의 중요성"이죠. 그러나 뚜렷한 정답은 없습니다.
   자기 생각/경험을 어떻게 잘 말하는지가 핵심!)
- 파이썬으로 리스트를 작성해보고 왜 리스트를 써야 하는지 말할 수 있다.

기본기 다지기
- 백준 1000번 A + B 		: int를 2개 받는 방법
- 백준 1330번 두 수 비교하기 	: if ~ elif ~ else문 사용해 보기
- 백준 8393번 합			: for문 사용해보기 / for문을 안쓰고 푸는 방법?
- 백준 10952 A+B - 5		: while문 사용해보기
- 백준 10871 X보다 작은 수 		: 리스트 사용해보기

실전 문제
- 백준 14681 사분면 고르기 (Canadian Computing Competition > 2017 Junior Division 1번 문제)
- 백준 8958 OX퀴즈 (ICPC > Asia Regional > Seoul 2005 > A번 문제)
- 백준 2577 숫자의 개수 (한국정보올림피아드 > 지역본선 2006 > 초등부 2번 문제)
- 백준 15953 상금 헌터 (카카오 코드 페스티벌 2018 > 1번 문제)

백준 8393 합

In [7]:
a = int(input())

3

In [8]:
print(a)

3

In [9]:
type(a)

int

In [20]:
# 1부터 n까지 합을 출력
# 1. for 반복문 사용
# 1 + 2 + 3

a = int(input())
sum = 0
for i in range(1, a+1):
  sum += i

print(sum)

3
6

for문의 형태
for 변수 in range(끝나는 값)
for 변수 in range(시작값, 끝나는 값, 증가하는 값)

for i in range(3): # 시작값 : 0, 끝나는 값: 3, 증가하는 값 : 1
  
   print(i)

for i in range(1, 3): # 시작값 : 1, 끝나는 값 : 3, 증가하는 값 : 1
  
   print(i)

for i in range(0, 3, 2): # 시작값 : 0, 끝나는 값 : 3, 증가하는 값 : 2
  
   print(i)

for i in range(start, stop)
for i in range(start, stop, 1)

In [23]:
# 2. 다른 방법으로 풀어보기
# for문 / while문 -> 반복문
# 반복문을 안 쓰고 푸는 방법? -> 수학

# 1 ~ n = n * (n+1) / 2 

a = int(input())
sum = a * (a+1) / 2
print(int(sum)) # 강제 형변환 : 컴퓨터가 임의로 형을 바꿨을 때, 코더가 원하는 형으로 바꾸는 것

3
6

백준 1000 A + B

In [25]:
# 두 정수 A와 B를 입력받은 다음, A + B를 출력하는 프로그램 작성하기
a = int(input())
b = int(input())
print(a+b)

1 2

ValueError: ignored

* input() 특징
 1. 한줄 전체를 입력받는다.
    (enter키가 나오기 전까지 입력을 받는다.)
 2. str형으로 입력받는다. (문자열의 형태로 입력받는다.)

* input().split( 구분자 )
  1. 한 줄에 여러 개의 정수가 떨어져 있을 때 그거를 list로 입력받는 방법
  2. 구분자 : ' ', ',' , '.', ...
  3. 근데 list로 입력을 따로따로 받는데 문제는 str로 받는다 ㅜㅜ

In [38]:
a = input().split(' ')

1,2,3,4,5

In [39]:
print(a)

['1', '2', '3', '4', '5']

In [40]:
type(a)

list

* Python에서 map이라는 함수 사용하기
  1. 형태 : map(자료형, 데이터)

In [43]:
a, b = map(int, input().split(' '))
print(a)
print(b)
print(type(a))
print(type(b))
print(a + b)

1 2
1
2
<class 'int'>
<class 'int'>
3

* 한줄에 정수를 여러 개 입력받는데
 1. 정수들이 ' '로 구분되어 있고
 2. 입력받는 정수의 개수를 알 경우 and 그 개수가 적을 경우

In [44]:
a, b = map(int, input().split(' '))
print(a+b)

1 2
3

* 한줄에 정수를 여러 개 입력받는데
  1. 정수들이 ' '(space bar)로 구분되어 있고
  2. 입력받는 정수의 개수를 모르거나 너무 많은 경우

* list?

In [59]:
ls = []
lis = [1,2,3]

In [60]:
print(ls)

[]

In [61]:
type(ls)

list

In [62]:
print(lis)

[1, 2, 3]

In [63]:
type(lis)

list

* list에서 각 요소에 접근할 때

 ex) lis = [1, 2, 3]

 ex) lis[0] # lis에서 첫번째 위치 (0부터 시작, 위치는 index라고도 한다.)

 ex) print(lis[0]) # 1이 출력됨

 ex) lis[1] # lis에서 두번째 위치

 ex) print(lis[1]) # 2가 출력됨

 ex) lis[2] # lis에서 세번째 위치

 ex) print(lis[2]) # 3이 출력됨

 ex) lis[3] # list index out of range(오류!)

In [67]:
print(lis[3])

IndexError: ignored

* 한줄에 정수를 여러 개 입력받는데
  1. 정수들이 ' '(space bar)로 구분되어 있고
  2. 입력받는 정수의 개수를 모르거나 너무 많은 경우

* for문의 다른 형태
1. for 변수 in 순회할 리스트 이름

이렇게 쓰면

변수 = 리스트[순서]

In [71]:
a = input().split()

123 485 398 3048 2838 19283 3948 5984 2928 17 238

In [72]:
print(a)

['123', '485', '398', '3048', '2838', '19283', '3948', '5984', '2928', '17', '238']

In [73]:
for x in a:
  print(x)

123
485
398
3048
2838
19283
3948
5984
2928
17
238

In [74]:
l = [ int(x) for x in input().split() ]

1 2 3 4 5

In [75]:
print(l)

[1, 2, 3, 4, 5]

input().split()

input().split(' ')

이 둘은 동일하다.

In [78]:
# 1000번 문제 다시풀어보기
l = [int(x) for x in input().split(' ')]

sum = 0
for x in l:
  sum += x

print(sum)

1 2
3

In [77]:
print(l)

[1, 2]

백준 1330 두 수 비교하기

In [85]:
a, b = map(int, input().split(' '))

# if ~ else // if ~ elif(else if) ~ else
if a > b:
  print(">")
elif a < b:
  print("<")
else:                     # a == b
  print("==")

5 5
==

In [80]:
print(a)
print(b)

1
2

백준 15953 상금 헌터 (카카오 코드 페스티벌 2018 1번 문제)

In [90]:
# 첫 번째 줄에 제이지가 상상력을 발휘하여 가정한 횟수 T가 주어진다.
# -> 한줄에 정수 1개 주어져서 int(input()) 사용 가능
T = int(input())

# 다음 T개 줄에는 한 줄에 하나씩 제이지가 해본 가정에 대한 정보가 주어진다.
# -> 반복문이 필요하다. (for문 사용해야겠구나)
# for i in range(0, T, 1) 과 for i in range(T)는 동일
for i in range(0, T, 1):
  a, b = map(int, input().split(' '))

  sum = 0
  if a == 0:    # 진출하지 못했을 경우
    sum += 0
  elif a == 1:  # 1명만 1등 (1등)
    sum += 500
  elif a < 4:   # 2명이 2등 (2등, 3등)
    sum += 300
  elif a < 7:   # 3명이 3등 (4등, 5등, 6등)
    sum += 200
  elif a < 11:  # 4명이 4등 (7등, 8등, 9등, 10등)
    sum += 50
  elif a < 16:  # 5명이 5등 (11등, 12등, 13등, 14등, 15등)
    sum += 30
  elif a < 22:  # 6명이 6등 (16등, 17등, 18등, 19등, 20등, 21등)
    sum += 10
  else:          # 22등 아래일 경우
    sum += 0

  if b == 0:    # 진출하지 못했을 경우
    sum += 0
  elif b == 1:  # 1명만 1등 (1등)
    sum += 512
  elif b < 4:   # 2명이 2등 (2등, 3등)
    sum += 256
  elif b < 8:   # 4명이 3등 (4등, 5등, 6등, 7등)
    sum += 128
  elif b < 16:   # 8명이 4등 (8등, 9등, 10등, 11등, 12등, 13등, 14등, 15등)
    sum += 64
  elif b < 32:   # 16명이 5등 (16등 ~ 32등)
    sum += 32
  else:
    sum += 0

  print(sum * 10000)

6
8 4
1780000
13 19
620000
8 10
1140000
18 18
420000
8 25
820000
13 16
620000

In [87]:
print(T)

6

* While문 사용해보기

while 조건1:

    ....

    ....

    if 조건2:

      break      #조건1을 만족하지 않아도 조건2가 만족되면 바로 while문을 벗어난다

    ....

,,,,

In [97]:
# 무한 루프를 쓰지 않은 코드
a = 1
b = 1

while a != 0 and b != 0:             
  a, b = map(int, input().split(' '))
  if a != 0 and b != 0:
    print(a+b)

1 2
3
0 0

In [99]:
# 무한 루프를 사용한 코드
while True:                           # 무한 루프 (무조건 참인 문장이 조건이어서 while문이 끝나지 않음)
  a, b = map(int, input().split(' '))
  if a != 0 and b != 0:
    print(a+b)
  else:
    break                             # while문을 벗어나는 명령어 break - while문이 무한루프이든 아니든 사용 가능

1 1
2
2 3
5
3 4
7
0 0

for i in range(0, 5, 1):

for i in 리스트: